@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: #2b292d;
  letter-spacing: -0.01em;
}

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #2B292D;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 22px;
}

button, 
input,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}

button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
  outline:none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
